<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(https://image.pollinations.ai/prompt/cocktails%20fun%20lively%20atmosphere%20laughter%20fireworks);">
  <div class="container">
    <h1>A community collection of <strong>Cocktail</strong> recipes!</h1>
    <p>Add one now and share it to the world.</p>
    <% if policy(Cocktail).new? %>
      <%= link_to new_cocktail_path, class: "btn btn-secondary btn-lg me-2" do%>
        Create <i class="fa-duotone fa-solid fa-martini-glass-citrus"></i>
      <% end %>
    <% end %>
    <%= link_to "#", class: "btn btn-primary btn-lg" do %>
      SipSense Mix <i class="fa-solid fa-wand-magic-sparkles"></i>
    <% end %>
  </div>
</div>
<div class="container mt-4">
  <h1 class="mt-5 mb-3 fst-italic">COCKTAILS <i class="fa-solid fa-martini-glass fs-2"></i></h1>
  <!-- search bar -->
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group mt-5 mb-4">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-info">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
  <!-- cocktail collection -->
  <div class="row d-flex justify-content-start">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-4">
        <%= link_to cocktail_path(cocktail), class: "text-decoration-none" do %>
          <div class="card card-cocktail shadow card-hover p-3 m-1 mt-4">
            <!-- H2 and favorite icon -->
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h2 class="fst-italic"><%= cocktail.name.capitalize %></h2>
              <!-- current_user.favorited_cocktails.include?(@cocktail) -->
              <% if @cocktail_favs.include?(cocktail)%>
                <i class="fa-solid fa-heart h1-font fs-2 me-2"></i>
              <% else %>
                <i class="fa-regular fa-heart h1-font fs-2 me-2"></i>
              <% end %>
            </div>
            <img src="https://image.pollinations.ai/prompt/<%= cocktail.name %> beautiful cocktail beverage" alt="<%= cocktail.name %>" class="rounded border-bottom" >
            <div class="mt-3">
              <p class="ingredients">
                <% @doses.each do |dose| %>
                  <% if dose.cocktail.name == cocktail.name %>
                    <%= dose.ingredient.name.capitalize %>: <span class="fst-italic"><%= number_with_precision(dose.amount, precision: 0) %>ml</span> <span class="fs-5 light">|</span>
                  <% end %>
                <% end %>
              </p>
            </div>
            <div>
              <div class="d-flex align-items-center flex-wrap mt-3" style="gap: 0.5rem;">
                <h5 class="text-light mb-0 me-2">Tags:</h5>
                <% @tags.each do |tag| %>
                  <% if tag.cocktail.name == cocktail.name %>
                    <p class="card rounded px-2 py-1 txt-grey mb-0" style="display: inline-block;">
                      <%= tag.name.capitalize %>
                    </p>
                  <% end %>
                <% end %>
              </div>
              <!-- Average rating -->
              <div>
                <% cocktail_rating = [] %>
                <% @user_reviews.each do |review| %>
                  <% if review.cocktail.name == cocktail.name %>
                    <% cocktail_rating.push(review.rating) %>
                  <% end %>
                <% end %>
                <% if cocktail_rating.any? %>
                  <% cocktail_rating_avg = cocktail_rating.sum / cocktail_rating.length %>
                <% else %>
                  <% cocktail_rating_avg = 0 %>
                <% end %>
                <!-- <p class="text-light mt-4">Rating: <%#= cocktail_rating_avg %> (<%#= cocktail_rating.length %>)</p> -->
                <div class="d-flex justify-content-start align-items-center gap-2 mt-4 mb-3">
                  <% if cocktail_rating_avg > 0 %>
                    <p class="text-light"><%= cocktail_rating_avg.round(1) %></p>
                  <% end %>
                  <!-- Review stars logic -->
                  <%= render "shared/ratings", cocktail_rating: cocktail_rating_avg %>
                  <% review_array = [] %>
                  <% @user_reviews.each do |review| %>
                    <% if review.cocktail.name == cocktail.name %>
                      <% review_array.push(review) %>
                    <% end %>
                  <% end %>
                  <% reviews = review_array.length %>
                  <% if reviews > 0 %>
                    <p class="text-light">(<%= reviews %>)</p>
                  <% end %>
                </div>
                <p class="dark-grey-font small">
                  <% if cocktail.ai_generated && cocktail.user == current_user %>
                    Created by <span class="text-light fst-italic">You</span> with <span class="brand-font">SipSense AI <i class="fa-solid fa-robot"></i></span>
                  <% elsif cocktail.ai_generated %>
                    Created by <span class="text-light fst-italic"><%= cocktail.user.username %></span> with <span class="brand-font">SipSense AI <i class="fa-solid fa-robot"></i></span>
                  <% elsif cocktail.user == current_user %>
                    Created by <span class="text-light fst-italic">You</span>
                  <% else %>
                    Created by <span class="text-light fst-italic"><%= cocktail.user.username %></span>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
