<%= render "new_banner", hero_banner: @hero_banner %>
<div class="container">
  <h1 class="mt-5">Create a Cocktail</h1>
  <div class="row">
    <div class="col-12">

      <!-- Create cocktail form -->
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :about, label: "Short description about the cocktail" %>
        <%= f.input :description, label: "Recipe Method", hint: "Describe how to make the cocktail.", as: :text %>

        <!-- Cocktail image selector and preview -->
        <div class="row flex-column" data-controller="img-preview">
          <div class="col-12 col-md-6">
            <%= f.input :img_url, collection: Cocktail::COCKTAIL_IMAGES, label: "Cocktail image", prompt: "Select a cocktail image", input_html: { data: { img_preview_target: "select", action: "change->img-preview#updatePreview" } } %>
          </div>

          <div class="col-12 col-md-6">
            <!-- Breaking down `(f.object.img_url || "")`: `f.object` refers to the model instance (your Cocktail object) that the form is bound to. `f.object.img_url` accesses the `img-url` attribute of that Cocktail. If `img_url` has a value (e.g. "cocktail-3.jpg"), use that value (works when editing an existing cocktail). If `img_url` is `nil` (new record) or blank, use "" (empty string) instead (works when creating a new cocktail where img_url is nil). -->
            <%= image_tag (f.object.img_url || ""), alt: "Cocktail drink", class: "border border-light border-5 rounded-4 shadow-sm mt-3 mh-img-form d-none", data: { img_preview_target: "image" } %>
          </div>
        </div>

        <!-- Create doses and associated ingredients -->
        <div class="form-group" data-controller="form-field-vis">
          <h3 class="pink-font mt-5">Ingredients (up to 5)</h3>
          <% counter = 0 %>
          <%= f.simple_fields_for :doses do |dose_form| %>
            <% counter += 1 %>
            <div data-form-field-vis-target="ingredient" hidden>

              <!-- Hidden input field with `_destroy` as a substring value of the name attribute. This is the "hook" for stimulus.js to find and manipulate the value of the name attribute. -->
              <%= dose_form.input :_destroy, as: :hidden %>

              <h4>Ingredient <%= counter %></h4>
              <%= dose_form.input :amount, label: "Amount (ml)", placeholder: "45", hint: "Input numbers only. Remember 45ml = 1 shot." %>
              <%= dose_form.input :ingredient_id, collection: Ingredient.all, prompt: "Select Existing Ingredient" %>
              <p>Or create a new ingredient (optional)</p>
              <%= dose_form.simple_fields_for :ingredient do |ingredient_form| %>
                <%= ingredient_form.input :name, label: "New Ingredient Name" %>
              <% end %>
              <hr class="mt-5 mb-4">
            </div>
          <% end %>

          <!-- Add another ingredient button -->
          <%= link_to "#", class: "btn btn-secondary mt-3 mb-4", data: { action: "click->form-field-vis#hiddenVisibleFields" } do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
        </div>

        <!-- Create tags -->
        <div class="form-group" data-controller="tag-field-vis">
          <h3 class="pink-font mt-5">Tags (up to 10)</h3>
          <% counter_tag = 0 %>
          <%= f.simple_fields_for :tags do |tag_form| %>
            <% counter_tag += 1 %>
            <div data-tag-field-vis-target="tag" hidden>

              <!-- Hidden input field with `_destroy` as a substring 'value' of the 'name' (key) attribute. This is the "hook" for stimulus.js to find and manipulate the value of the name attribute. -->
              <%= tag_form.input :_destroy, as: :hidden %>

              <%= tag_form.input :name, label: "Tag #{counter_tag}", prompt: "Name" %>
            </div>
          <% end %>

          <!-- Add another tag button -->
          <%= link_to "#", class: "btn btn-secondary mt-3 mb-4", data: { action: "click->tag-field-vis#hiddenVisibleTags" } do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
        </div>

        <!-- Submit button -->
        <%= f.button :submit, "Create Cocktail", class: "btn btn-primary mt-4 p-2" %>
      <% end %>
      <!-- Form close -->
    </div>
  </div>
</div>
