<div class="container">
  <h1 class="mt-5 mb-3"><%= @cocktail.name.titleize %> <i class="fa-solid fa-martini-glass fs-2"></i></h1>
  <div class="row">
    <div class="col-12 col-lg-6">
      <p class="text-wrap mb-4"><%= @cocktail.about %></p>
    </div>
  </div>
  <div class="row justify-content-between align-items-top">
    <!-- cocktail image -->
    <div class="col-12 col-lg-6 card rounded p-3">
      <%= image_tag "https://www.pollinations.ai/prompt/#{@cocktail.name} cocktail drink", alt: @cocktail.name, class: "rounded img-fluid" %>
    </div>
    <!-- recipe -->
    <div class="col-12 col-lg-5 me-5">
      <div class="vstack gap-2">
        <!-- description & how to -->
        <div class="d-flex justify-content-start align-items-center gap-4">
          <h2 class="mb-3 mt-4">Recipe</h2>
          <!-- Favorited cocktail feature -->
          <% if current_user.favorited_cocktails.include?(@cocktail) %>
            <!-- If you want, using button_to vs link_to generates a form that works on its own, which is a fallback or simpler solution (button_to works with method: :delete & method: :post but not with turbo). link_to with method: :delete ( and 'data: { turbo_method: :delete }' ) works if JS is enabled and UJS is loaded. -->
            <%= link_to cocktail_favorite_path(@cocktail), data: { turbo_method: :delete }, class: "btn btn-link p-0" do %>
              <i class="fa-solid fa-heart h1-font fs-2 card-hover"></i>
            <% end %>
          <% else %>
            <%= link_to cocktail_favorite_path(@cocktail), data: { turbo_method: :post }, class: "btn btn-link p-0" do %>
              <i class="fa-regular fa-heart h1-font fs-2 card-hover"></i>
            <% end %>
          <% end %>
        </div>
        <div class="txt-grey">
          <h4>What You Need</h4>
          <ol>
            <% @ingredients.each do |ingredient|%>
              <li>
                <span class="text-white"><%= ingredient.name.capitalize %> </span> -
                <% @doses.each do |dose| %>
                  <% if ingredient.id == dose.ingredient_id %>
                    <%= number_with_precision(dose.amount, precision: 0) %> ml
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ol>
        </div>
        <!-- ingredients -->
        <div class="txt-grey">
          <h4>How to Make It</h4>
          <p><%= @cocktail.description %></p>
        </div>
        <div class="mb-4">
          <h4>Tags</h4>
          <div class="d-flex justify-content-start align-items-center">
            <% @tags.each do |tag| %>
              <div class="me-2">
                <p class="card rounded p-1 txt-grey"><%= tag.name.capitalize %></p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="mb-3">
          <p class="dark-grey-font">
            <i class="fa-regular fa-user me-2"></i>
            <% if @cocktail.user == current_user %>
              Created by <span class="text-light fst-italic">You</span>
              <i class="fa-regular fa-calendar ms-3 me-2"></i>
              <%= @cocktail.created_at.strftime("%B %d, %Y") %>
            <% else %>
              Created by <span class="text-light fst-italic"><%= @cocktail.user.username %></span>
              <i class="fa-regular fa-calendar ms-3 me-2"></i>
              <%= @cocktail.created_at.strftime("%B %d, %Y") %>
            <% end %>
          </p>
        </div>
        <!-- Edit and delete buttons -->
        <div class="d-flex justify-content-start align-items-center gap-3">
          <% if policy(@cocktail).edit? %>
            <%= link_to "Edit", edit_cocktail_path(@cocktail), class: "btn btn-primary btn-lg me-2" %>
          <% end %>
          <% if policy(@cocktail).destroy? %>
            <%= link_to cocktail_path(@cocktail), data: { turbo_method: :delete, turbo_confirm: "Delete cocktail ?" } do %>
              <i class="fa-regular fa-trash-can text-danger fs-3"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- Cocktail reviews -->
  <h2 class="mt-5">Reviews</h2>
  <div class="d-flex justify-content-start align-items-center gap-3 mt-4 mb-3">
    <% if @cocktail_rating_avg > 0 %>
      <p class="fs-5 text-light"><%= @cocktail_rating_avg.round(1) %></p>
    <% end %>
    <%= render "shared/ratings", cocktail_rating: @cocktail_rating_avg %>
    <% if @user_reviews.count > 0 %>
      <p class="fs-5 text-light">(<%= @user_reviews.count %>)</p>
    <% end %>
  </div>
  <% if policy(UserReview).new? %>
    <%= link_to "Write a cocktail review",  new_cocktail_user_review_path(@cocktail), class: "btn btn-info my-4" %>
  <% end %>
  <% @user_reviews.each do |user_review| %>
    <div class="card rounded shadow-sm p-3 mt-4">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <p class="pink-font mb-1"><%= user_review.user.username %></p>
          <!-- Delete review -->
          <% if policy(user_review).destroy? %>
            <%= link_to cocktail_user_review_path(@cocktail, user_review), data: { turbo_method: :delete, turbo_confirm: "Delete cocktail review ?" } do %>
              <i class="fa-solid fa-xmark grey-font fs-5"></i>
            <% end %>
          <% end %>
        </div>
        <div class="d-flex justify-content-start align-items-center mb-2 gap-3">
          <%= render "shared/ratings", cocktail_rating: @cocktail_rating_avg %>
          <!-- <p class="purple-font mb-0">Rating: <%#= user_review.rating %></p> -->
          <p class="fw-semibold mb-0 text-white"><%= user_review.title %></p>
        </div>
        <p class="grey-font">Reviewed on <%= user_review.created_at.strftime("%B %d, %Y") %></p>
        <% if user_review.review.present? %>
          <p class="text-light">"<%= user_review.review %>"</p>
        <% else %>
          <p class="grey-font">No written review available</p>
        <% end %>
      </div>
      <% if user_review.img_1.present? || user_review.img_2.present? || user_review.img_3.present? %>
        <div class="card-img-bottom d-flex justify-content-start gap-3 mt-3 mb-2">
          <%= render "shared/img_modal_1", image_1: user_review.img_1 %>
          <%= render "shared/img_modal_2", image_2: user_review.img_2 %>
          <%= render "shared/img_modal_3", image_3: user_review.img_3 %>
          <% if user_review.img_1.present? %>
            <%= link_to "#" do %>
              <img src="<%= user_review.img_1 %>" alt="cocktail image #1" class="img-thumbnail card-hover" style="max-height: 225px;" data-bs-toggle="modal" data-bs-target="#imgModalOne">
            <% end %>
          <% end %>
          <% if user_review.img_2.present? %>
            <%= link_to "#" do  %>
              <img src="<%= user_review.img_2 %>" alt="cocktail image #2" class="img-thumbnail card-hover" style="max-height: 225px;" data-bs-toggle="modal" data-bs-target="#imgModalTwo">
            <% end %>
          <% end %>
          <% if user_review.img_3.present? %>
            <%= link_to "#" do %>
              <img src="<%= user_review.img_3 %>" alt="cocktail image #3" class="img-thumbnail card-hover" style="max-height: 225px;" data-bs-toggle="modal" data-bs-target="#imgModalThree">
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
