<nav class="navbar sticky-top navbar-expand-lg navbar-light navbar-sipfolio bg-body-tertiary border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to cocktails_path, class: "navbar-brand" do %>
      <%= image_tag "cocktail-journal4tp.png", alt: "Cocktail journal logo", width: "75", class: "d-inline-block align-text-center ms-2" %>
      <span class="fs-2 brand-font fw-semibold">SIPFOLIO</span>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto gap-2">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to cocktails_path, class: nav_link_class(cocktails_path), "aria-current": (current_page?(cocktails_path) ? "page" : nil) do %>
              Browse <i class="fa-regular fa-rectangle-list"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <% if policy(Cocktail).new? %>
              <%= link_to new_cocktail_path, class: nav_link_class(new_cocktail_path), "aria-current": (current_page?(new_cocktail_path) ? "page" : nil) do %>
                New Cocktail <i class="fa-solid fa-martini-glass-citrus"></i>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to sipsense_mix_cocktails_path, class: nav_link_class(sipsense_mix_cocktails_path), "aria-current": (current_page?(sipsense_mix_cocktails_path) ? "page" : nil) do %>
              SipSense Mix <i class="fa-solid fa-wand-magic-sparkles"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to chats_path, class: nav_link_class(chats_path), "aria-current": (current_page?(chats_path) ? "page" : nil) do %>
              SipSense AI <i class="fa-solid fa-comment-dots"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to profiles_path, class: nav_link_class(profiles_path), "aria-current": (current_page?(profiles_path) ? "page" : nil) do %>
              Connect <i class="fa-solid fa-users"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to journal_path, class: nav_link_class(journal_path), "aria-current": (current_page?(journal_path) ? "page" : nil) do %>
              Journal <i class="fa-solid fa-book"></i>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle ms-2" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
              <%= image_tag "happy-dog5.png", alt: "User avatar image and dropdown menu.", class: "avatar" %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navBarDropdown">
              <li class="small ms-3">
                <% if current_user.admin %>
                  <%= current_user.username %> (admin)
                <% else %>
                  <%= current_user.username %>
                <% end %>
              </li>
              <hr>
              <li>
                <%= link_to "Profile", user_profile_path, class: "dropdown-item fs-5" %>
                <!-- <i class="fa-solid fa-user"></i> Profile -->
                <%# end %>
              </li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item fs-5", data: { turbo_method: :delete} %>
                <!-- <i class="fa-solid fa-right-from-bracket"> Log out -->
                <%# end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link fs-5" %>
          </li>
          <li>
            <%= link_to "Sign-up", new_user_registration_path, class: "nav-link fs-5 me-4"  %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
