<div class="container my-5">
  <h1 class="display-4 fw-bold mb-3">Cocktail Journal</h1>
  <p class="fs-5 mb-4">
    Manage all your cocktails in one place.
  </p>
  <h2 class="mt-5 mb-4">My Cocktails
    <i class="fa-solid fa-martini-glass"></i>
  </h2>
  <div class="row d-flex justify-content-start">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-4">
        <%= link_to cocktail_path(cocktail), class: "text-decoration-none" do %>
          <div class="card shadow card-hover p-3 m-1 mt-4">
            <!-- H2 and favorite icon -->
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h2 class="fst-italic"><%= cocktail.name.capitalize %></h2>
              <!-- current_user.favorited_cocktails.include?(@cocktail) -->
              <% if @cocktail_favs.include?(cocktail)%>
                <i class="fa-solid fa-heart h1-font fs-2 me-2"></i>
              <% else %>
                <i class="fa-regular fa-heart h1-font fs-2 me-2"></i>
              <% end %>
            </div>
            <!-- Cocktail image -->
            <% if cocktail.photo.attached? %>
              <!-- Cloudinary image: user uploaded image of cocktail -->
              <%= cl_image_tag cocktail.photo.key %>
            <% else %>
              <!-- Pre-selected cocktail image selected by SipSense AI -->
              <%= image_tag (cocktail.img_url.presence || cocktail_img_list.sample), alt: "#{cocktail.name} cocktail", class: "rounded shadow border border-secondary border-1" %>
            <% end %>
            <div class="mt-3">
              <p class="ingredients">
                <% cocktail.doses.each do |dose| %>
                  <% if dose.cocktail.name == cocktail.name %>
                    <%= dose.ingredient.name.capitalize %>: <span class="fst-italic"><%= number_with_precision(dose.amount, precision: 0) %>ml</span> <span class="fs-5 light">|</span>
                  <% end %>
                <% end %>
              </p>
            </div>
            <div>
              <div class="d-flex align-items-center flex-wrap mt-3" style="gap: 0.5rem;">
                <h5 class="text-light mb-0 me-2">Tags:</h5>
                <% cocktail.tags.each do |tag| %>
                  <% if tag.cocktail.name == cocktail.name %>
                    <p class="card rounded px-2 py-1 txt-grey mb-0" style="display: inline-block;">
                      <%= tag.name.capitalize %>
                    </p>
                  <% end %>
                <% end %>
              </div>
              <div>
                <% cocktail_rating = [] %>
                <% @user_reviews.each do |review| %>
                  <% if review.cocktail.name == cocktail.name %>
                    <% cocktail_rating.push(review.rating) %>
                  <% end %>
                <% end %>
                <% if cocktail_rating.any? %>
                  <% cocktail_rating_avg = cocktail_rating.sum / cocktail_rating.length %>
                <% else %>
                  <% cocktail_rating_avg = 0 %>
                <% end %>
                <div class="d-flex justify-content-start align-items-center gap-2 mt-4 mb-3">
                  <% if cocktail_rating_avg > 0 %>
                    <p class="text-light"><%= cocktail_rating_avg.round(1) %></p>
                  <% end %>
                  <!-- Review stars logic -->
                  <%= render "shared/ratings", cocktail_rating: cocktail_rating_avg %>
                  <% review_array = [] %>
                  <% @user_reviews.each do |review| %>
                    <% if review.cocktail.name == cocktail.name %>
                      <% review_array.push(review) %>
                    <% end %>
                  <% end %>
                  <% reviews = review_array.length %>
                  <% if reviews > 0 %>
                    <p class="text-light">(<%= reviews %>)</p>
                  <% end %>
                </div>
                <p class="dark-grey-font small">
                  <% if cocktail.ai_generated && cocktail.user == current_user %>
                    Created by <span class="text-light fst-italic">You</span> with <span class="brand-font">SipSense AI <i class="fa-solid fa-robot"></i></span>
                  <% elsif cocktail.ai_generated %>
                    Created by <span class="text-light fst-italic"><%= cocktail.user.username %></span> with <span class="brand-font">SipSense AI <i class="fa-solid fa-robot"></i></span>
                  <% elsif cocktail.user == current_user %>
                    Created by <span class="text-light fst-italic">You</span>
                  <% else %>
                    Created by <span class="text-light fst-italic"><%= cocktail.user.username %></span>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- Favorited cocktails -->
  <h2 class="mt-5 mb-4">My Favorite Cocktails
    <i class="fa-solid fa-heart"></i>
  </h2>
  <div class="row d-flex justify-content-start">
    <% @cocktail_favs.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-4">
        <%= link_to cocktail_path(cocktail), class: "text-decoration-none" do %>
          <div class="card shadow card-hover p-3 m-1 mt-4">
            <!-- H2 and favorite icon -->
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h2 class="fst-italic"><%= cocktail.name.capitalize %></h2>
              <% if @cocktail_favs.include?(cocktail)%>
                <i class="fa-solid fa-heart h1-font fs-2 me-2"></i>
              <% else %>
                <i class="fa-regular fa-heart h1-font fs-2 me-2"></i>
              <% end %>
            </div>
            <!-- Cocktail image -->
            <% if cocktail.photo.attached? %>
              <!-- Cloudinary image: user uploaded image of cocktail -->
              <%= cl_image_tag cocktail.photo.key %>
            <% else %>
              <!-- Pre-selected cocktail image selected by SipSense AI -->
              <%= image_tag (cocktail.img_url.presence || cocktail_img_list.sample), alt: "#{cocktail.name} cocktail", class: "rounded shadow border border-secondary border-1" %>
            <% end %>
            <div class="mt-3">
              <p class="ingredients">
                <% cocktail.doses.each do |dose| %>
                  <% if dose.cocktail.name == cocktail.name %>
                    <%= dose.ingredient.name.capitalize %>: <span class="fst-italic"><%= number_with_precision(dose.amount, precision: 0) %>ml</span> <span class="fs-5 light">|</span>
                  <% end %>
                <% end %>
              </p>
            </div>
            <div>
              <div class="d-flex align-items-center flex-wrap mt-3" style="gap: 0.5rem;">
                <h5 class="text-light mb-0 me-2">Tags:</h5>
                <% cocktail.tags.each do |tag| %>
                  <% if tag.cocktail.name == cocktail.name %>
                    <p class="card rounded px-2 py-1 txt-grey mb-0" style="display: inline-block;">
                      <%= tag.name.capitalize %>
                    </p>
                  <% end %>
                <% end %>
              </div>
              <div>
                <% cocktail_rating = [] %>
                <% @user_reviews.each do |review| %>
                  <% if review.cocktail.name == cocktail.name %>
                    <% cocktail_rating.push(review.rating) %>
                  <% end %>
                <% end %>
                <% if cocktail_rating.any? %>
                  <% cocktail_rating_avg = cocktail_rating.sum / cocktail_rating.length %>
                <% else %>
                  <% cocktail_rating_avg = 0 %>
                <% end %>
                <div class="d-flex justify-content-start align-items-center gap-2 mt-4 mb-3">
                  <% if cocktail_rating_avg > 0 %>
                    <p class="text-light"><%= cocktail_rating_avg.round(1) %></p>
                  <% end %>
                  <!-- Review stars logic -->
                  <%= render "shared/ratings", cocktail_rating: cocktail_rating_avg %>
                  <% review_array = [] %>
                  <% @user_reviews.each do |review| %>
                    <% if review.cocktail.name == cocktail.name %>
                      <% review_array.push(review) %>
                    <% end %>
                  <% end %>
                  <% reviews = review_array.length %>
                  <% if reviews > 0 %>
                    <p class="text-light">(<%= reviews %>)</p>
                  <% end %>
                </div>
                <p class="dark-grey-font small">
                  <% if cocktail.ai_generated && cocktail.user == current_user %>
                    Created by <span class="text-light fst-italic">You</span> with <span class="brand-font">SipSense AI <i class="fa-solid fa-robot"></i></span>
                  <% elsif cocktail.ai_generated %>
                    Created by <span class="text-light fst-italic"><%= cocktail.user.username %></span> with <span class="brand-font">SipSense AI <i class="fa-solid fa-robot"></i></span>
                  <% elsif cocktail.user == current_user %>
                    Created by <span class="text-light fst-italic">You</span>
                  <% else %>
                    Created by <span class="text-light fst-italic"><%= cocktail.user.username %></span>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
